*.iml
.gradle
.idea/*
build
/local.properties
/app/keystore.properties
/app/*.json
/app/src/debug/google-services.json
/app/src/main/google-services.json
/app/keystore.jks
**/src/main/res/values/config.xml
