<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"
      android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
      android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
      android:maxSdkVersion="26" />

    <!-- Modern Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
      android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
      android:name="android.hardware.bluetooth"
      android:required="true" />

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <application
      android:name=".FRCKrawlerApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.FRCKrawlerSplash">
        <activity
          android:name=".ui.MainActivity"
          android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
          android:name=".ui.bluetooth.chooser.BluetoothDeviceChooserActivity"
          android:theme="@style/BluetoothDeviceChooser"
          android:exported="false"/>

        <service
          android:name=".bluetooth.server.SyncServerService"
          android:enabled="true"
          android:exported="false"
          android:foregroundServiceType="connectedDevice|dataSync"/>

        <!-- Remove app startup to support WorkManager Hilt injection -->
        <provider
          android:name="androidx.startup.InitializationProvider"
          android:authorities="${applicationId}.androidx-startup"
          tools:node="remove" />
    </application>

</manifest>