<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team2052.frckrawler"
    android:installLocation="auto"
    android:versionCode="7"
    android:versionName="1.5.1" >

    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:logo="@drawable/app_icon"
        android:theme="@android:style/Theme.Black"
        android:hardwareAccelerated="true"
        android:allowBackup="true">
        
        <activity
            android:name="com.team2052.frckrawler.TeamsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.UsersActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity android:name="com.team2052.frckrawler.GamesActivity" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EventsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddTeamDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditTeamDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditUserDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddUserDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddGameDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditGameDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.RobotsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.MetricsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.CommentsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.ContactsActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddCommentDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditCommentDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddContactDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditContactDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddEventDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditEventDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AttendingTeamsDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddRobotDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditRobotDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddMetricDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="com.team2052.frckrawler.PicturesActivity" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditMetricDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.RawMatchDataActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity android:name="com.team2052.frckrawler.BluetoothServerManagerActivity" >
        </activity>

        <service android:name="com.team2052.frckrawler.bluetooth.BluetoothServerService" >
        </service>

        <activity android:name="com.team2052.frckrawler.ClientTestActivity" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.AddMatchDataDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.team2052.frckrawler.EditMatchDataDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service android:name=".bluetooth.BluetoothScoutClientService" >
        </service>

        <activity
            android:name="com.team2052.frckrawler.QueryActivity"
            android:windowSoftInputMode="adjustNothing" 
            >
        </activity>
        <activity
            android:name="DriverDataActivity"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="QuerySortingDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="CommentDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ScoutTypeActivity" >
        </activity>
        <activity
            android:name="ScoutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="ListTester" >
        </activity>
        <activity android:name="SummaryActivity" >
        </activity>
        <activity
            android:name="AboutDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service android:name=".bluetooth.BluetoothSummaryClientService" >
        </service>

        <activity android:name="ScoutMatchDataActivity" >
        </activity>
        <activity
            android:name="ScoutEditMatchDataActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name="ListsActivity" >
        </activity>
        <activity
            android:name="AddListDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="ImportImageDialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_chooser"
            android:label="@string/chooser_label" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name="OptionsActivity"
            	  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="AddRobotAllActivity"
            	  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="ImportDialogActivity"
            	  android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>