name: Pull request builder

on:
  pull_request:
    branches: 
      - main
      - mainV4

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
          
      - name: Build with Gradle
        run: ./gradlew assembleDebug
