name: Pull request builder

on:
  pull_request:
    branches: 
      - main
      - mainV4

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        
      - name: Prepare secrets
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          echo "test"
          echo $GOOGLE_SERVICES_JSON
          echo $GOOGLE_SERVICES_JSON | base64 -d
          echo $GOOGLE_SERVICES_JSON | base64 -d > app/google-services.json
          cat app/google-services.json
        
          
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
          
      - name: Build with Gradle
        run: ./gradlew assembleDebug
